[Unit]
Description=Telegram Bot
After=network.target

[Service]
User=patreon
Group=patreon

WorkingDirectory=/home/patreon/patreon/
Environment="PYTHONPATH=/home/patreon/patreon/"
ExecStart=/home/patreon/patreon/.venv/bin/python /home/patreon/patreon/bot.py

[Install]
WantedBy=multi-user.target
